<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>
	<body>
		<header class="intro">
			<h1>Creëer jouw persoonlijke portfolio pagina</h1>
		</header>
		<main class="intro">
			<form action="/create-portfolio" method="POST">
				<label for="username">Mijn github username is:</label>
				<input
					type="text"
					id="username"
					name="username"
					placeholder="user123"
					required
				/>
				<button>Genereer pagina</button>
			</form>
		</main>
	</body>
</html>
